apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: 'loki'
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: 6.33.0
    chart: loki
    helm:
      values: |
        backend:
          replicas: 0
        bloomCompactor:
          replicas: 0
        bloomGateway:
          replicas: 0
        chunksCache:
          enabled: false
        compactor:
          replicas: 0
        deploymentMode: SingleBinary
        distributor:
          replicas: 0
        indexGateway:
          replicas: 0
        ingester:
          replicas: 0
        loki:
          auth_enabled: false
          commonConfig:
            replication_factor: 1
          limits_config:
            allow_structured_metadata: true
            volume_enabled: true
          pattern_ingester:
            enabled: true
          ruler:
            enable_api: true
          schemaConfig:
            configs:
            - from: "2024-04-01"
              index:
                period: 24h
                prefix: loki_index_
              object_store: s3
              schema: v13
              store: tsdb
        lokiCanary:
          enabled: false
        minio:
          enabled: true
          resources:
            limits:
              memory: 1Gi
        querier:
          replicas: 0
        queryFrontend:
          replicas: 0
        queryScheduler:
          replicas: 0
        read:
          replicas: 0
        resultsCache:
          enabled: false
        singleBinary:
          replicas: 1
        test:
          enabled: false
        write:
          replicas: 0
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true