apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: 'kube-prometheus-stack'
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 73.2.0
    helm:
      values: |
        grafana:
          service:
            type: ClusterIP
        prometheus:
          service:
            type: ClusterIP
    chart: kube-prometheus-stack
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-prometheus-stack
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    automated:
      prune: false
      selfHeal: false